@model IEnumerable<EmployeeApp.Models.EmployeeModel>
<p>
    <a asp-action="Create">ADD</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x=> x.Name)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Email)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Division)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(x => record.Name)
                </td>
                <td>
                    @Html.DisplayFor(x => record.Phone)
                </td>
                <td>
                    @Html.DisplayFor(x => record.Email)
                </td>
                <td>
                    @Html.DisplayFor(x => record.JobTitle)
                </td>
                <td>
                    @Html.DisplayFor(x => record.Division)
                </td>
                <td>
                    @Html.DisplayFor(x => record.Active)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@record.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@record.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@record.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
